name: Build mediation example project

# Step 1: Build on pull-requests or pushes to main
on:
  # Remove after testing
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Step 2: Build mediation sample
jobs:
  build:
    name: Build 
    runs-on: macos-latest

    steps:
      - name: Clone Repo
        # TODO: our samples use v1, is there a difference? (probably just ancient)
        uses: actions/checkout@v4 

        # TODO: Verify xCode version to use.
        # Available Xcode versions:
        # https://github.com/actions/runner-images/blob/main/images/macos/toolsets/toolset-14.json

      - name: Change to Mediation Sample Directory
        run: |
          
          ls & echo "Moved to samples directory"
          
      - name: Select Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_16.4.app/Contents/Developer
          echo "Selected Xcode version:"
          /usr/bin/xcodebuild -version
    
      - name: Update & Install Pods for Mediation Example
        run: |
          cd ./example
          pod repo update
          pod install

      - name: Install xcpretty
        run: sudo gem install xcpretty
        
      - name: Build Mediation Project Scheme
        run: |
          cd ./example
          xcodebuild clean build analyze \
          -scheme "MediationSample" \
          -workspace "MediationSample.xcworkspace" -sdk iphonesimulator -arch x86_64 \
          | xcpretty && exit ${PIPESTATUS[0]}
